@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --cinzaescuro: #475569;
    --cinzaAzulado: #416084;
    --cinzaClaro: #c1c1c1;
    --cinzaCC: #dbdbdb;
    --cinzaFundo: #EBEBEB;
    --vermelhoClaro: #B91C1C;
    --vermelhoCC: #FDECEA;
    --marromC: #513A36;
    --branco: #fff;
    --radiusP: 4px;

      --badge-red-bg: #FFD7D3;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: #FBF9F8;

}




.containerConteudo {
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37%;
    background-color: var(--badge-red-bg);
    border-radius: var(--radiusP);
    padding: 5% 3%;
    gap: 1rem;
    flex-wrap: wrap;
}

main .test {
    position: relative;
}

main .iconeX {
    height: 10rem;

}

main .iconeInfo {
    height: 60px;
    position: absolute;
    top: 67%;
    left: 70%;
}

main h2 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
}

main h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

main span {
    text-align: center;
}

main hr {
    background-color: #EEA8A2;
    height: 4px;
    width: 30%;
    border: none;
    border-radius: var(--radiusP);
    margin: 1rem 0;
}

main .caixaDisponibilidade {
    background-color: var(--branco);
    padding: 1rem 2rem;
    border-radius: var(--radiusP);
    display: flex;
    gap: 0.7rem;

}

main .caixaDisponibilidade i {
    margin-top: 4px;
    font-size: 1.4rem;
    color: var(--cinzaAzulado);
}


main .caixaDisponibilidade .conteudoDisponibilidade p {
    color: var(--marromC);
    font-size: 1rem;
    font-weight: 500;
}

main .caixaDisponibilidade .conteudoDisponibilidade h6 {
    color: var(--cinzaAzulado);
    font-size: 1rem;
    font-weight: 700;
}


main .boxEntendido {
    background: transparent;
    cursor: pointer;
    border: solid 2px var(--vermelhoClaro);
    border-radius: var(--radiusP);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: background-color .5s ease, color .5s ease;
    color: var(--vermelhoClaro);
    font-weight: 600;
    font-size: 1rem;
}

main .boxEntendido:hover {
    background-color: var(--vermelhoClaro);
    color: var(--branco);
}

.containerConteudo .containerInfo {
    width: 37%;
    display: flex;
    gap: 1rem;
    align-items: stretch;
}

.containerConteudo .containerInfo .cardInfo {
    background-color: var(--cinzaFundo);
    padding: 1rem 1rem;
    border-radius: var(--radiusP);
    width: 60%;

}

.containerConteudo .containerInfo .cardInfo h4 {
    color: var(--cinzaAzulado);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
}


.containerConteudo .containerInfo .cardAgradecimento {
    width: 40%;
    background-color: var(--cinzaFundo);
    padding: 1rem 1rem;
    border-radius: var(--radiusP);
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.containerConteudo .containerInfo .cardAgradecimento img {
    width: 100px;
    object-fit: cover;

}

.containerConteudo .containerInfo .cardAgradecimento .conteudoAgradecimento h4 {
    color: var(--cinzaAzulado);
    font-size: 1rem;
    font-weight: 600;

}

footer {
    text-align: center;
}

@media screen and (max-width:1475px) {
    .containerConteudo .containerInfo .cardAgradecimento {
        flex-direction: column;
    }
}

@media screen and (max-width:1335px) {
    .containerConteudo .containerInfo .cardInfo h4 {
        font-size: 1rem;
    }

    .containerConteudo .containerInfo .cardInfo p {
        font-size: 0.9rem;
    }

    .containerConteudo .containerInfo .cardAgradecimento img {
        width: 80px;
        object-fit: cover;
    }
}

@media screen and (max-width:1120px) {
    header .boxUsuario {
        display: none;
    }

}

@media screen and (max-width:995px) {

    .containerConteudo .containerInfo {
        flex-direction: column;
    }

    .containerConteudo .containerInfo .cardInfo,
    .containerConteudo .containerInfo .cardAgradecimento {
        width: 100%;
    }


    .containerConteudo main h2 {
        font-size: 2rem;
    }

    .containerConteudo main h3 {
        font-size: 1.5rem
    }
}

@media screen and (max-width:880px) {

    .containerConteudo main,
    .containerConteudo .containerInfo {
        width: 80%;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --cinzaescuro: #475569;
    --cinzaAzulado: #416084;
    --cinzaClaro: #c1c1c1;
    --cinzaCC: #dbdbdb;
    --vermelhoClaro: #B91C1C;
    --vermelhoCC: rgba(255, 0, 0, 1);
    --vermelhoHover: #DC262646;
    --vermelhoEscuro: #810101;
    --azulMarinho: #0F172A;
    --branco: #ffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: #FBF9F8;
}

header {
    height: 6rem;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 2;

}

header .botaoMenu {
    display: none;
    gap: 3px;
    flex-direction: column;
    cursor: pointer;
    background: transparent;
    border: none;

}

header .botaoMenu:hover div {
    background-color: var(--vermelhoEscuro);
}

header .botaoMenu div {
    width: 1.8rem;
    height: 0.3rem;
    background-color: var(--vermelhoClaro);
    transition: background-color .5s ease;
}

.topMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topMenu .menuCaixa {
    display: none;
    gap: .5rem;
    align-items: center;
}

.topMenu .menuCaixa .infoMenu h3 {
    color: var(--branco);
    font-size: 2rem;
}

.topMenu .menuCaixa .infoMenu p {
    color: var(--cinzaCC);
}

.topMenu .menuCaixa .iconMenu {
    width: 30%;
    border-radius: 4px;
}

.topMenu .closeMenu {
    border: none;
    color: var(--branco);
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 700;
}

nav {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

header nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

header nav .links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}

header nav .links .boxLink i {
    display: none;
}

header nav .links .boxLink a {
    position: relative;
    text-decoration: none;
    color: var(--cinzaescuro);
    background-color: transparent;
}

header nav .links .boxLink a:hover {
    color: var(--vermelhoClaro);
}



header nav .links .boxLink a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background-color: var(--vermelhoClaro);
    transition: 0.3s ease;
}

header nav .links .boxLink a:hover::after {
    width: 100%;
}

.buttons {
    display: none;
}

.buttons button {
    padding: 0.6rem 1rem;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


header .boxUsuario {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid var(--cinzaCC);
    padding: 0 0 0 0.8rem;
    gap: 1rem;
}

header .boxUsuario .infoUsuario #statusUsuario {
    color: var(--cinzaAzulado);
    font-size: 1rem;
    font-weight: 500;
}

header .boxUsuario .infoUsuario #nomeUsuario {
    font-weight: 700;
    font-size: 1rem;
}


header .boxUsuario .exitIcon {
    color: var(--cinzaescuro);
    font-size: 1.4rem;
    cursor: pointer;
    transition: color .5s;
}

header .boxUsuario .exitIcon:hover {
    color: var(--vermelhoClaro);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1;
}

/* overlay ativo */
.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* menu acima do overlay */
header nav {
    z-index: 2;
}

@media screen and (max-width:1110px) {
    header .botaoMenu {
        display: flex;
        margin-left: auto;
    }

    header nav {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50%;
        left: -100%;
        background-color: var(--azulMarinho);
        transition: left 0.5s;
        flex-direction: column;
        padding: 2rem;
    }

    header nav .links .boxLink a:hover::after {
        width: 0;
    }

    header nav .links {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0;
    }

    header nav .links .boxLink {
        width: 100%;
        padding: 1rem;
        transition: background-color .5s, border-left .5s;
    }

    header nav .links .boxLink a {
        display: block;
        font-size: 1.2rem;
        width: 100%;
        color: var(--branco);

    }

    header nav .links .boxLink {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        transition: color .5s;
    }

    header nav .links .boxLink i {
        display: flex;
        color: var(--cinzaClaro);
        font-size: 1.5rem;
    }

    header nav .links .boxLink:hover i {
        color: var(--vermelhoClaro);
    }

    header nav .links .boxLink:hover a {
        color: var(--vermelhoClaro);
    }


    header nav .links .boxLink:hover {
        border-left: 2px solid var(--vermelhoEscuro);
        background-color: var(--vermelhoHover);
    }

    .topMenu .menuCaixa {
        display: flex;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        gap: .5rem;
    }

    .buttons button {
        width: 100%;
        text-align: start;
    }

    .buttons .primary {
        background-color: var(--vermelhoEscuro);
        color: var(--branco);
        cursor: pointer;


    }

    .buttons .secondary {
        background-color: var(--vermelhoEscuro);
        color: var(--branco);
        cursor: pointer;


    }
}

@media screen and (max-width:650px) {
    header nav {
        width: 100%;
    }
}



/* header {
    height: 6rem;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


header nav a {
    position: relative;
    text-decoration: none;
    color: var(--cinzaescuro);
}

header nav a:hover {
    color: var(--vermelhoClaro);
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background-color: var(--vermelhoClaro);
    transition: 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

header .boxUsuario {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid var(--cinzaCC);
    padding: 0 0 0 0.8rem;
    gap: 1rem;
}

header .boxUsuario .infoUsuario #statusUsuario {
    color: var(--cinzaAzulado);
    font-size: 1rem;
    font-weight: 500;
}

header .boxUsuario .infoUsuario #nomeUsuario {
    font-weight: 700;
    font-size: 1rem;
}


header .boxUsuario .exitIcon {
    color: var(--cinzaescuro);
    font-size: 1.4rem;
    cursor: pointer;
} */