:root{
    --cinzaBody: #FBF9F8;

    --branco: #FFFFFF;

    --preto: #000000;

    --cinzaFonte: #3f3f3f;

    --cinzaInput: #EFEDED;

    --vermelhoBotao: #B41B0F;

    --vermelhoHover: #ee0000;

    --cinzaLinha: #c9c9c9;

    --vermelhoCadastro: #B41B0F;

    --cinzaFundo: #eeeeee;

    --verdeIconeFundo: #86F8C9;

    --verdeIcone: #005331;

    --azulIconeFundo: #D1E4FF;

    --azulIcone: #28496B;

    --azulFonte: #28496B;

    --cinzaIcone: #777777;

    --vermelhoFonte: #B41B0F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;  
}

body{
    min-height: 100vh;
    display: flex;
    background-color: var(--cinzaBody);
    flex-direction: column;
}

header {
    height: 6rem;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

header img{
    width: 7rem;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.loginGrupo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: var(--branco);
    gap: 2rem;
    border-radius: 4px;
    width: 30rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tituloLoginGrupo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.tituloLoginGrupo h1{
    font-size: 1.8rem;
}

.tituloLoginGrupo p{
    font-weight: 500;
    color: var(--cinzaFonte);
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.inputGrupo{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.inputIcone{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.inputIcone i{
    position: absolute;
    left: 10px;
    color: var(--cinzaIcone);
}

.inputGrupo label{
    font-weight: 600;
    color: var(--cinzaFonte);
}

.senhaGrupo{
    display: flex;
    justify-content: space-between;
}

.senhaGrupo a{
    font-size: 0.8rem;
    font-weight: 500;
}

.senhaGrupo a:hover{
    color: var(--vermelhoHover);
    transition: color 0.5s;
}

.inputGrupo input{
    background-color: var(--cinzaInput);
    border: none;
    height: 2.5rem;
    border-radius: 4px;
    padding-left: 2.5rem; /*pode ser que tenha como melhorar*/
    padding-right: 1rem;
    width: 100%;
}

.entrarBotao{
    background-color: var(--vermelhoBotao);
    border: none;
    border-radius: 4px;
    color: var(--branco);
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}

.entrarBotao:hover{
    background-color: var(--vermelhoHover);
    transition: background-color 0.5s;
}

.cadastroLinha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
}

.cadastroLinha span{
    color: var(--cinza);
    font-size: 0.8rem;
    font-weight: 500;
}

.cadastroLinha div{
    background-color: var(--cinzaLinha);
    height: 1px;
    width: 100%;
}

form p{
    font-weight: 500;
    color: var(--cinzaFonte);
    align-self: center;
}

form a{
    color: var(--vermelhoCadastro);
    text-decoration: none;
}

form a:hover{
    color: var(--vermelhoHover);
    transition: color 0.5s;
}

.LGPDGrupo{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    width: 30rem; /*temporario*/
}

.criptografiaGrupo{
    display: flex;
    flex-direction: row;
    background-color: var(--cinzaFundo);
    border-radius: 4px;
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
}

.criptografiaGrupo i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verdeIconeFundo);
    color: var(--verdeIcone);
    height: 100%;
    width: 2rem;
    border-radius: 8px;
}

.criptografiaConteudo span{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--cinzaFonte);
}

.criptografiaConteudo p{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--azulFonte);
}

.certificadoGrupo i{
    background-color: var(--azulIconeFundo);
    color: var(--azulIcone);
}

.direitosGrupo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30rem; /*temporario*/
    color: var(--cinzaFonte);
    font-size: 0.8rem;
}

.dadosGrupo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.dadosGrupo i{
    color: var(--cinzaIcone);
}

.termosGrupo{
    display: flex;
    gap: 0.5rem;
}

.termosGrupo p{
    cursor: pointer;
}

.termosGrupo p:hover{
    color: var(--vermelhoCadastro);
    transition: color 0.5s;
}