:root {
    --cinzaBody: #FBF9F8;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinzaFonte: #3f3f3f;
    --cinzaInput: #EFEDED;
    --vermelhoBotao: #B41B0F;
    --vermelhoHover: #ee0000;
    --cinzaLinha: #c9c9c95b;
    --vermelhoCadastro: #B41B0F;
    --cinzaFundo: #eeeeee;
    --verdeIconeFundo: #86F8C9;
    --verdeIcone: #005331;
    --azulIconeFundo: #D1E4FF;
    --azulIcone: #28496B;
    --azulFonte: #28496B;
    --cinzaIcone: #777777;
    --vermelhoFonte: #B41B0F;
    --traco: #E1BFB9;
    --escritaCinzaClara: #59413D;
    --backgroundEtapa: #E4E2E2;
    --azulLabel: #416084;
    --escritaCinzaClaraInput: #59413d79;
    --containerTitulo: #1b1c1c;
    --escritaInfo: #59413daa;
    --checkmark: #00513A;
    --adv_background: #F5F3F3;
    --priv_background: #b4d4fe52;
    --escritaAzul: #3C5C7F;
    --nao_sim_background: #d3d3d383;
    --aHoverAzul: #398ef0;
    --vermelhoHover: #ee0000;
}

body {
    min-height: 100svh;
    background-color: var(--cinzaBody);
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
    margin-top: 30px;
}

.etapas {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

.etapas h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 16px;
    font-weight: 600;
}

.etapas h2 {
    font-size: 16px;
    font-weight: 500;
}

.etapas .etapa {
    display: flex;
    align-items: center;
    gap: 12px;
}

.etapas .etapa h1 {
    color: var(--escritaCinzaClara);
    border-radius: 12px;
    background-color: var(--backgroundEtapa);
}

.etapas .etapa h2 {
    color: var(--escritaCinzaClara);
}

.etapas .active h1 {
    background-color: var(--vermelhoFonte);
    border-radius: 12px;
    color: white;
}

.etapas .active h2 {
    color: var(--vermelhoFonte);
}

.etapas .traco {
    width: 64px;
    height: 2px;
    background-color: var(--traco);
}

.etapas .complete h1 {
    background-color: var(--verdeIconeFundo);
    color: var(--cinzaFonte);
    position: relative;
}

.etapas .complete h2 {
    color: var(--cinzaFonte);
}

.checkmark {
    display: inline-block;
    width: 10px;
    height: 20px;
    border: solid var(--checkmark);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    left: 15px;
}

.container {
    display: flex;
    gap: 30px;
}

.adv {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main_adv {
    width: 100%;
    background-color: var(--adv_background);
    border-radius: 12px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main_adv h1 {
    color: var(--containerTitulo);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.main_adv p {
    font-size: 14px;
    color: var(--escritaCinzaClara);
    font-weight: 500;
    word-spacing: 2px;
    line-height: 1.6;
}

.priv_adv {
    width: 100%;
    background-color: var(--priv_background);
    border-radius: 8px;
    padding: 25px 25px 25px 55px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.priv_adv img {
    position: absolute;
    left: 25px;
}

.priv_adv h1 {
    font-size: 14px;
    font-weight: 600;
    color: var(--azulLabel);
}

.priv_adv p {
    font-size: 12px;
    color: var(--escritaAzul);
    font-weight: 500;
    word-spacing: 2px;
    line-height: 1.6;
}

.triagem {
    box-shadow: 4px 3px 40px 0px #0000000a;
    background: white;
    border-radius: 8px;
    width: 40rem;
    padding: 50px 50px 62px 50px;
    display: flex;
}

.triagem .tipagem {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.triagem form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.triagem .tipagem .peso,
.triagem .tipagem .tipo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.triagem .tipagem .peso label,
.triagem .tipagem .tipo label {
    color: var(--containerTitulo);
    font-size: 16px;
    font-weight: 600;
    margin-left: 6px;
}

.tipagem .tipo select {
    padding: 15px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    background-image: url('../assets/images/svg/arrow-down-angle-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-color: var(--cinzaInput);
    color: var(--containerTitulo);
}

.tipagem .peso input {
    padding: 15px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--cinzaInput);
    color: var(--containerTitulo);
}

.triagem .line {
    width: 100%;
    height: 1px;
    background-color: var(--cinzaLinha);
}

.triagem form h1 {
    color: var(--containerTitulo);
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 12px 0;
}

.triagem form .questionario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.triagem form .questionario h2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--containerTitulo);
}

.triagem form .questionario p {
    font-size: 12px;
    font-weight: 500;
    color: var(--escritaCinzaClara);
}

.triagem form .questionario .pergunta {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--cinzaInput);
}

.triagem form .questionario .resposta {
    background-color: var(--nao_sim_background);
    padding: 4px;
    border-radius: 12px;
}

.triagem form .questionario .resposta button {
    border: 0;
    background: none;
    font-size: 12px;
    font-weight: 600;
    color: var(--containerTitulo);
    padding: .5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
}

.triagem form .questionario .resposta .active {
    background-color: #fff;
    color: var(--vermelhoBotao);
}

.triagem form .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.triagem form .bottom a {
    text-decoration: none;
    color: var(--azulLabel);
    font-weight: 500;
    padding: .5rem 1rem;
    margin-left: 1rem;
    transition: background-color 0.5s;
}

.triagem form .bottom a:hover {
    color: var(--aHoverAzul);
}

.triagem form .bottom button {
    background-color: var(--vermelhoBotao);
    color: white;
    border: none;
    outline: none;
    padding: 18px 4rem;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    word-spacing: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.triagem form .bottom button:hover {
    background-color: var(--vermelhoHover);
    cursor: pointer;
}