:root {
    --branco: #ffffff;
    --fundo-bege: #f5f3f3;
    --azul-fonte: #28496b;
    --vermelho-fonte: #b41b0f;
    --cinza-borda: #e2e2e277;
}

.gridTabela {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .categoriasTabela {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        gap: 1rem;
        padding: 1rem 3rem;
        background-color: var(--fundo-bege);

        #idColeta {
            color: var(--azul-fonte);
            width: 40%;
            line-height: 1.1;
        }

        p {
            color: var(--azul-fonte);
            margin: 0;
            font-weight: 700;
        }
    }

    .botoomTabela {
        color: var(--vermelho-fonte);
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
    }

    .selecaoNumeros {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        padding: 1rem;

        .boxNumber {
            border-radius: 6px;
            padding: 0.9rem;
            background-color: var(--branco);
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
        }

        .boxNumberAction {
            background-color: var(--azul-fonte);
            color: var(--branco);
        }
    }

    .categoriasTabela + div {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 3rem;
        border-bottom: 1px solid var(--cinza-borda);

        &:hover {
            background-color: var(--cinza-fundo);
        }

        .id {
            font-weight: 700;
            color: var(--vermelho-fonte);
        }

        p {
            margin: 0;
            font-weight: 700;
        }
    }
}

.cardFirst {
}

.iconTabela {
    cursor: pointer;
}

.iconSeta {
    cursor: pointer;
}