:root {
    --cinza-fundo: #fbf9f8;
    --azul-400: #416084;
    --borda: 1px solid #000;
    --branco: #ffffff;
    --fundo-bege: #F5F3F3;
    --azul-fonte: #28496b;
    --vermelho-fonte: #b41b0f;
    --cinza-borda: #e2e2e277;

}

.containerHistorico {
    background-color: var(--cinza-fundo);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .tituloPage {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        h1 {
            font-size: 3rem;
            color: var(--preto);
        }

        h4 {
            font-size: 1rem;
            color: var(--azul-400);
            font-weight: 500;
        }
    }
}

.gridCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}

.dashboardHistorico {
    border-radius: 16px !important;
    background-color: var(--branco);

    .tituloDashboard {
        display: flex;
        flex-direction: column;
        background-color: var(--branco);
        border-radius: 16px;
        padding: 1rem 2rem;

    }
}


.cardFirst {}


.botoomTabela {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30%;
    background-color: var(--cinza-fundo-claro);

    #baixar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        gap: 6px;
        color: var(--vermelho-link);
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
    }
}

.selecaoNumeros {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 1rem 1rem;

    .boxNumber {
        border-radius: 6px;
        padding: .9rem;
        background-color: var(--branco);
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
    }

    .boxNumberAction {
        background-color: var(--azul-fonte);
        color: var(--branco);
    }

}


.gridTabela {
    display: flex;
    flex-direction: column;

    .categoriasTabela {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        gap: 1rem;
        padding: 1rem 3rem;
        background-color: var(--fundo-bege);

        #idColeta {
            color: var(--azul-fonte);
            width: 40%;
            line-height: 1.1;

        }

        p {
            color: var(--azul-fonte);
        }
    }

    .campoDoacao {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        border-bottom: 1px solid var(--cinza-borda);

        &:hover {
            background-color: var(--cinza-fundo);
        }

        .id {
            font-weight: 700;
            color: var(--vermelho-fonte);
        }

        p {
            margin: 0;
        }
    }

    .categoriasTabela {
        p {
            font-weight: 700;
        }
    }
}

.iconTabela {
    cursor: pointer;
}
.iconSeta{
    cursor: pointer;
}