* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", "Manrope", "Epilogue";
}

.content {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
}

.content>h1{
    font-size: 2.4rem;
}

.content>h2{
    color: var(--azul-label);
    font-size: 1rem;
    font-weight: 500;
}

.content>section{
    display: flex;
    width: 100%;
    gap: 3rem;
    margin-top: 2.5rem;
    align-items: flex-start;
}

.content>section>div {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.profileMainContent{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.profileMainContent>div{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.profileContainer {
    flex: 1;
    background: #fff;
    padding: 3rem;
    border: solid 1px var(--azul-200);
}

.personalInfo {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.doador {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.doador>div {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.doador>div img {
    width: 130px;
    height: 130px;
    background: #e8e8e8;
    border-radius: 12px;
}

.doador>div>div {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.doador>div>div>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.personalInfo .topText {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.personalInfo .topText button {
    border: none;
    background: transparent;
    color: var(--vermelho-500);
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .6rem;
    transition: color .3s;
}

.personalInfo .topText button:hover {
    color: var(--vermelho-hover);
}

.personalInfo .topText h2 {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.doador .username {
    font-size: 1.7rem;
}

.doador .tipoSanguineo {
    font-size: 1.1rem;
    color: var(--vermelho-500);
    font-weight: 600;
    background: var(--vermelho-100);
    padding: .6rem;
    border-radius: 40%;
}

.doador .apto {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--azul-label);
}

.dataFlexContainer {
    display: flex;
    width: 100%;
    gap: 3.5rem 1rem;
    flex-wrap: wrap;
}

.dataFlexContainer .indContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(50% - 1rem);
    gap: .7rem;
}

.dataFlexContainer .indContainer h1 {
    color: var(--azul-label);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-weight: 600;
}

.dataFlexContainer .indContainer h2 {
    font-size: 1.1rem;
}

.profileMainContent .security{
    flex: 1;
    background: #fff;
    padding: 3rem;
    border: solid 1px var(--azul-200);
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.profileMainContent .security>h1{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profileMainContent .security .flexBox{
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}